body{
  background: url('./assests/money-transfer-background_115579-660.jpg') no-repeat center center/cover;
  background-color: burlywood;
  color: greenyellow;
  padding: 50px;
}
h1{
  color: red;
  text-align: center;
}